<footer class="footer">
  <small>
    &copy;2012 Dmitry Lomash
  </small>
  <nav>
    <ul>
      <li><%= link_to "Главная",   '#' %></li>
      <li><%= link_to "Новости", '#' %></li>
      <li><%= link_to "Преподаватели", '#' %></li>
      <li><%= link_to "Дисциплины", '#' %></li>
      <li><%= link_to "История", '#' %></li>
    </ul>
  </nav>
</footer>