<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Главная",    '#' %></li>
          <li><%= link_to "Новости",    '#' %></li>
          <li><%= link_to "Преподаватели", '#' %></li>
          <li><%= link_to "Дисциплины", '#' %></li>
          <li><%= link_to "История", '#' %></li>
          <li><%= signed_in? ? link_to("Войти", signin_path) : link_to("Выйти", signout_path, method: "delete") %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>